{% extends 'base.html.twig' %}

{% block title %}Ingredient{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>MES INGREDIENTS</h1>

    {# {% if ingredient.count < 0 %}
        <p>Vous n'avez actuellement aucun ingrédients commencez par en ajouter un : </p>

        <a class="add-ingredient" href="/ingredient/add">Ajouter des ingrédients</a>
        
    {% else %} #}

        {# AFFICHER LA LISTE DES INGREDIENTS DE L'UTILISATEUR CONNECTE #}

        {% for ingredient in ingredients %}
                <div class="list-ingredient" data-id="{{ ingredient["id"] }}">
                    <div class="item-ingredient" data-id="{{ ingredient["id"] }}">{{ ingredient["name"] }}, prix : {{ ingredient["price"] }} €</div>
                    <div data-id="{{ ingredient["id"] }}"><a class="delete-ingredient" href="/ingredient/delete">Supprimer</a></div>
                </div>
        {% endfor %}

        {# POUVOIR AJOUTER DES NOUVEAUX INGREDIENTS #}

        <a class="add-ingredient" href="/ingredient/add">Ajouter des ingrédients</a>

    {# {% end if %} #}
</div>
{% endblock %}
