{% extends 'base.html.twig' %}

{% block title %}Register Page{% endblock %}

{% block body %}

    <div class="contenu-register">
        <h1>REGISTER PAGE</h1>
        <div class="form-register">
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            <input type="submit" class="register-button" value="REGISTER">
            {{ form_end(form) }}
        </div>

        <a href="/login">Login</a>

    </div>

    

{% endblock %}
